h1 {
    color: white;
}

.AddButton {
  background-color: rgb(132, 255, 255);
}
.employee-list-container {
  margin: 3%;
}

.header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}

table {
    // background-color: black;
    // border-radius: 10px;
}

.edit-button {
    background-color: rgb(255, 170, 0);
}
.delete-button {
    background-color: red;
}
mat-form-field {
  width: 100%;
}
