<form [formGroup]="employeeForm" (ngSubmit)="handleSubmit()">
  <h1>Edit Employee</h1>
  <div class="content">
    <div class="row">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input
          type="text"
          required
          matInput
          formControlName="fName"
          placeholder="Ex. Harry"
        />
        @if (employeeForm.get('fName')?.hasError('required')) {
        <mat-error>Please enter a first name</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input
          type="text"
          required
          matInput
          formControlName="lName"
          placeholder="Ex. Potter"
        />
        @if (employeeForm.get('lName')?.hasError('required')) {
        <mat-error>Please enter a last name</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="row">
      <mat-radio-group
        class="radioRow"
        formControlName="gender"
        aria-label="Select an option"
        required
      >
        <div>
          <mat-label>Gender</mat-label>
        </div>
        <div class="radio-button-container">
          <div>
            <mat-radio-button value="Male">Male</mat-radio-button>
            <mat-radio-button value="Female">Female</mat-radio-button>
          </div>
        </div>
      </mat-radio-group>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Experience</mat-label>
        <input
          type="number"
          required
          matInput
          formControlName="experience"
          placeholder=""
        />
        @if (employeeForm.get('experience')?.hasError('required')) {
        <mat-error>Please enter experience</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Education</mat-label>
        <mat-select formControlName="education">
          @for (option of educationOptions; track $index) {
          <mat-option value="{{ option }}">{{ option }}</mat-option>
          }
        </mat-select>
        @if (employeeForm.get('education')?.hasError('required')) {
        <mat-error>Please select education</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Date Of Birth</mat-label>
        <input
          matInput
          required
          formControlName="dob"
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        @if (employeeForm.get('dob')?.hasError('required')) {
        <mat-error>Please enter dob</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          type="email"
          required
          matInput
          formControlName="email"
          placeholder="Ex. harry@gmail.com"
        />
        @if (employeeForm.get('email')?.hasError('email') &&
        !employeeForm.get('email')?.hasError('required')) {
        <mat-error>Please enter a valid email address</mat-error>
        } @if (employeeForm.get('email')?.hasError('required')) {
        <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>
    </div>
  </div>
  <div class="action">
    <button type="submit" [disabled]="employeeForm.invalid" mat-fab extended>
      Submit
    </button>
    <button
      style="background-color: rgb(255, 136, 0)"
      type="button"
      routerLink="/employees"
      mat-fab
      extended
    >
      Cancel
    </button>
  </div>
</form>
