<h1>Users</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td scope="row">{{ user._id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.age }}</td>
      <td><button class="btn btn-warning" (click)="editUser(user._id)">Edit</button></td>
      <td><button class="btn btn-danger" (click)="deleteUser(user._id)">Delete</button></td>
    </tr>
  </tbody>
</table>
